body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
}

.navbar {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #580f05;
    display: flex;
    justify-content: flex-end; 
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar li {
    position: relative;
    text-align: center;
}

.navbar li.first {
    margin-right: auto;
}

.navbar li > a {
    display: block;
    color: #dfbe96;
    text-decoration: none;
    padding: 14px 20px;
}

.navbar li > a:hover {
    background-color: #970804;
}

.navbar li .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #580f05;
    min-width: 200px;
    z-index: 1000;
}

.navbar li .dropdown a {
    display: block;
    color: #dfbe96;
    text-decoration: none;
    padding: 12px 16px;
}

.navbar li .dropdown a:hover {
    background-color: #970804;
}

.navbar li:hover .dropdown {
    display: block;
}

.navbar li:last-child .dropdown {
    left: auto;
    right: 0;
}

.banner {
    width: 100%;
    position: relative;
    margin-top: 46px; 
}

#bannerimg {
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
}

.language {
    position: absolute;
    top: 0px;
    left:0px;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px 20px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 600;
    z-index: 999;
}

.language a {
    color: #dfbe96;
    text-decoration: none;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

.language p {
    margin: 0;
}

.language a:hover {
    color: #ffffff;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.9);
}

.hp{
    width: 800px;
    height: 500px;
    object-fit: cover;
}

.hmp{
    display:flex;
    flex:1;
    margin: 50px;
}
